---
import Logo from '@ui/Logo.astro';
---

<section class='h-screen flex items-center justify-center font-logo'>
  <h1
    class='w-full h-1/2 flex justify-center items-center relative overflow-hidden'
  >
    <Logo size='420' />
  </h1>
</section>
