<div
  class='fixed inset-0 -z-10 h-full w-full bg-zinc-50 bg-[linear-gradient(to_right,#D4D4D8_1px,transparent_1px),linear-gradient(to_bottom,#D4D4D8_1px,transparent_1px)] bg-[size:6rem_4rem]'
>
</div>
