---
const { available } = Astro.props;
const isAvailable = available === true;
---

<small class='uppercase mt-5 text-[16px] font-medium'>
  {isAvailable ? <span>Ya disponible</span> : <span>Disponible pronto</span>}
</small>
