---
import ProductList from './ProductList';
import ProductsFilter from './ProductsFilter';
---

<section class='min-h-screen flex flex-col gap-20 px-20 pb-10 z-20'>
  <div class='w-full flex justify-between items-center'>
    <h2 class='font-title text-[32px] uppercase font-medium'>Nuestros Drops</h2>
    <ProductsFilter client:load />
  </div>
  <ProductList client:load />
</section>
