---
import ProductList from './ProductList.astro';
---

<section class='min-h-screen flex flex-col gap-20 px-20 pb-10'>
  <h2 class='font-primary text-[32px] uppercase font-medium'>Nuestros Drops</h2>
  <ProductList />
</section>
