---
const { collection, name } = Astro.props;
---

<div
  class='bg-pink-300 h-full flex flex-col items-center justify-between text-center pt-7 pb-2 px-1 font-alternative relative overflow-hidden'
>
  <span class='text-[36px] pl-2'>{collection}</span>
  <span class='text-[24px]'>{name}</span>
</div>

<style>
  span {
    transform: rotate(360deg);
    writing-mode: vertical-lr;
    text-orientation: sideways;
  }
</style>
