---
import Hero from '@hero/components/Hero.astro';
import Layout from '@layouts/Layout.astro';
import Products from '@products/components/Products.astro';
---

<Layout>
  <main >
    <Hero />
    <Products />
  </main>
</Layout>
